/**
 * TD css
 *
 */

.td-container {
	font-size: 12px;
	padding: 0;
	margin: 0;
	line-height: 20px;
	width: 960px;
	height: 600px;
	overflow: hidden;
}
.td-container .td-stage-home,
.td-container .td-stage-options,
.td-container .td-stage-announcement,
.td-container .td-stage-battlefield,
.td-container .td-stage-build,
.td-container .td-stage-about {
	width: 960px;
	height: 600px;
	background: #f5f5f5;
}
.td-container .td-info-bar {
	height: 24px;
	overflow: hidden;
	background: #666;
	color: #fff;
	line-height: 24px;
}
.td-container .td-main {
	width: 768px;
	height: 576px;
	overflow: hidden;
	float: left;
}
.td-container .td-main .td-map {
	width: 768px;
	height: 576px;
	overflow: hidden;
	position: relative;
}
.td-container .td-panel {
	width: 192px;
	height: 576px;
	overflow: hidden;
	float: left;
	background: #eee;
	position: relative;
}
.td-container a {
	text-decoration: none;
}
.td-container a.td-btn {
	display: inline-block;
	padding: 4px 8px;
	border: solid 1px #999;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 2px #9aa9b2;
	-webkit-box-shadow: 0 1px 2px #9aa9b2;
	box-shadow: 0 1px 2px #9aa9b2;
	font-size: 14px;
	line-height: 24px;
	background: #eee;
	color: #333;
}
.td-container a.td-btn:hover {
	background: #fff;
}
.td-container .td-hidden {
	display: none;
}


